.main__container {
  min-height: 100vh;
  position: relative;
  padding: 2rem 0;
}
/*
  Background colors for cards
+*/
.bg-short {
  background-color: #0dab76;
}

.bg-medium {
  background-color: #139a43;
}

.bg-long {
  background-color: #0b5d1e;
}

.bg-custom {
  background-color: #053b06;
}