.main__container {
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
}

.bg-short {
  background-color: #0dab76;
}

.bg-medium {
  background-color: #139a43;
}

.bg-long {
  background-color: #0b5d1e;
}

.bg-custom {
  background-color: #053b06;
}